* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Body Pag
body {
    background-image:url("../Img/Background2.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

//Dropdown Menu
.dropdownMenu {
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
    width: calc(220vh / 4);
}

.dropdown-item {
    text-align: center;
}

.dropdown-toggle.nav-link::after {
    content: none;
}

//Logo and Menu
.logoBar {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);

    .epic-seven-logo {
        width: 10em;
    }
}

.menu {
    display: none;
    background-color: rgba(255, 255, 255, 0.6);
}

#link-style {
    font-weight: 400;
    border-bottom: 3px solid #1E90FF;
    transition: 0.5s;

    &:hover {
        color: #ffffff;
        background-color: #1E90FF;
    }
}

.app-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 1000px) {
    body {
        background-image:url("../Img/Background1.jpg");
    }
}

@media only screen and (min-width: 576px) {
    .dropdownMenu {
        display: none;
    }

    .menu {
        display: flex;
    }

}